/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

/* Apply font globally or to specific elements */
body {
    font-family: 'Host Grotesk', sans-serif;
}

/* Style for the FAQ component */
.faq-container {
    /* margin-top: 10rem; */
    margin: 4rem auto;
    max-width: 800px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.faq-title {
    color: #fff;
    font-weight: 600;
}

.accordion-summary {
    font-weight: bold;
    color: #788BFF;
}

.accordion-details {
    background-color: rgba(255, 255, 255, 0.05);
    color: #788BFF;
}
